html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 3.7333vw;
  font-family: "Muller";
  font-weight: 400;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: #BE946F;
  text-decoration: none;
}

img {
  width: 100%;
}

input:focus, button:focus {
  outline: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}