.rate {
  padding-top: 19.2vw;
  padding-bottom: 24vw;
  color: #F7EEEA;
}
.rate__title {
  font-weight: 300;
  font-size: 6.4vw;
  line-height: 9.6vw;
  margin-bottom: 7.2vw;
  padding-left: 6.9333vw;
}
.rate__description {
  padding-left: 6.9333vw;
  font-size: 4.2667vw;
  line-height: 6.4vw;
  margin-bottom: 6.6667vw;
  padding-right: 6.9333vw;
}
.rate__map {
  position: relative;
  margin-bottom: 4.8vw;
  width: 100%;
  height: 86.1333vw;
}
.rate__map .ymaps-2-1-79-ground-pane {
  filter: grayscale(1) invert(100%);
  -ms-filter: grayscale(1) invert(100%);
  -webkit-filter: grayscale(1) invert(100%);
  -moz-filter: grayscale(1) invert(100%);
  -o-filter: grayscale(1) invert(100%);
}
.rate__offer {
  padding-left: 6.6667vw;
  font-size: 4.2667vw;
  line-height: 6.4vw;
  margin-bottom: 9.3333vw;
}
.rate__button {
  margin-bottom: 3.4667vw;
}
.rate__buttons {
  padding-left: 6.9333vw;
  padding-right: 6.9333vw;
}

.rate-wrapper {
  position: relative;
}